@import '../../public/css/config.less';
.grid{
    display: grid;
    grid-template-rows: (@spacer*50) auto (@spacer*10);
    grid-template-columns: (@spacer*10) auto (@spacer*10);
    width:100%;
    grid-template-areas:
            "poster poster poster"
            ". content ."
            "footer footer footer";
}
.content{
    grid-area: content;
    z-index: 10;
    background: @background-gray;
    margin-top: -10 * @spacer;
    display: grid;
    .card{
        margin: @spacer * 0.5 @spacer * 0.5 0 @spacer * 0.5;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }
    .card-list{
        display: grid;
        grid-template-rows: 15rem 15rem 5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "card1 card2"
            "card3 card4"
            "more-btn more-btn";
    }
    .section-header{
        .header-m;
        display: flex;
        align-items: center;
        font-size: 1rem;
        margin-top: @spacer;
        margin-bottom: 0;
        margin-left: @spacer * 3;
    }
    .more{
        grid-area: more-btn;
        display: inline-block;
        width: 99%;
        border-top: 0;
        border-color: @cl-color;
        color: @cl-color;
        margin: @spacer * 2 @spacer * 0.5;
        border-radius: 0 0 3px 3px;
        &:hover{
            background: @cl-color;
            color: @white;
        }
    }
    .table{
        width: 100%;
        th{
            text-align: center;
            .header-m;
            font-size: 0.9rem;
            border-bottom: 1px solid @background-gray;
            border-top: 0;
            &:first-child{
                text-align: left;
            }
        }
        td{
            vertical-align: middle;
            &:nth-child(7n + 5){
               text-align: left;
            }
        }
        tr{
            cursor: pointer;
        }
        .group,.tip,.result{
            text-align: center;
        }
        .team{
            text-align: right;
            .team-badge{
                display: inline-block;
                max-width: @spacer * 4;
                margin: 0 @spacer * 2;
            }
        }
        .separator{
            width: @spacer * 6;
            text-align: center;
        }
        .points{
            width: @spacer * 6;
            text-align: center;
            font-size: 1.5rem;
            &.green{
                background: @green;
                color: @background-gray;
                
            }
            &.orange{
                background: @orange;
                color: @background-gray;
            }
        }
    }
}
@media (max-width: @xxl) {
    .grid{
        grid-template-areas:
            "poster poster poster"
            "content content content"
            "footer footer footer";
    }
    .content .card-list{
        grid-template-rows: 14.5rem 14.5rem 14.5rem 14.5rem 5rem;
        grid-template-columns: 1fr;
        grid-template-areas:
            "card1"
            "card2"
            "card3"
            "card4"
            "more-btn";
    }
}