@import '_variables.less';
@import '_mixins.less';
@import '_landing.less';
body{
    font-family: @font;
    background: @white;
    overflow-x: hidden;
    padding: 0;
}
p{
    font-size: ~"calc(0.25vw + 0.95rem)";
}
.button{
    .header-m;
    font-size: 0.85rem;
    padding: @spacer * 1.5 @spacer * 2.5;
    margin: 0 @spacer;
    border: 1px solid @white;
    border-radius: 25px;
    cursor: pointer;
    color: @white;
    background: #d67500;
    &:focus{
        outline: 0;
    }
    &:hover{
        background:lighten(#d67500, 10%);
    }
}
.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 100vh auto auto;
    grid-template-areas:
        "landing-photo landing-photo landing-photo"
        ". about . "
        "steps steps steps";

    .transparent-nav{
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3%;
        background: transparent;
        color: @white;
        transition: all .5s ease-in-out;
        
        & .group{
            display: none;
        }

        &.active{
            background: @white;
            color: @black;
            box-shadow: 0 5px @background-gray;
            & .group{
                display: flex;
            }
        }

        &__brand{
            font-size: ~"calc(0.5vw + 1rem)";
            margin: 0;
            .header-m;
        }
        
    }

    .landing-photo{
        grid-area: landing-photo;
        background: url('../img/landing-page-bg3.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: none;
        
    }

    .content{
        height: 100vh;
        display: flex;
        flex-flow: nowrap column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: @white;
        &__heading{
            font-size: ~"calc(4vw + 3rem)";
            .header-m;
            background: -webkit-linear-gradient( #fff, rgba(255, 255, 255, 0.65));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &__subtitle{
            width: 100%;
            font-size: ~"calc(0.5vw + 1rem)";
            padding-bottom: @spacer * 4;
        }
        #content-bottom-border{
            position: absolute;
            transform: translate(0,-100%) rotate(180deg);
            top: 100%;
        }
    }

    .round-bottom{
        grid-area: round-bottom;
        display: flex;
        flex-flow: nowrap column;
        justify-content: flex-end;
        svg{
            height: auto;
            width: 100%;
        }
    }
    .section{
        padding: 15rem @spacer * 2;
        [class*="__header"]{
            font-size: ~"calc(0.5vw + 1.5rem)";
            .header-m;
        } 
    }
    .about{
        grid-area: about;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap column;
        text-align: center;
        color: @black;
        p{
            display: inline-block;
            max-width: 50%;
        }
        #left-one{
            position: absolute;
            left: 0;
            transform: translate(-40%, 0);
            z-index: 1;
            height: 55%;
        }
        #right-one{
            height: 40%;
            position: absolute;
            right: 0;
            transform: translate(45%, 40%);
            z-index: 1;
        }
    }
    .steps{
        grid-area: steps;
        display: flex;
        justify-content: space-around;
        padding-left:  @spacer * 10;
        padding-right: @spacer * 10;
        #steps-top-border{
            position: absolute;
            margin-top: -26rem;
            z-index: 0;
        }
        .chevron{
            align-self: center;
            font-size: ~"calc(0.5vw + 1.5rem)";
        }
        .step{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            padding: @spacer * 4;
            width: 28%;
            &__number{
                font-size: ~"calc(0.5vw + 1rem)";
                align-self: flex-start;
                padding-bottom: @spacer * 8;
                color: @black;
            }
            &__icon{
                display: block;
                color: #d67500;
                font-size: ~"calc(3vw + 2rem)";
                padding-bottom: @spacer * 4;
            }
            &__heading{
                .header-m;
                margin-top: @spacer * 4;
            }
            p{
                padding-top: @spacer * 4;
                font-size: ~"calc(0.1vw + 1.1rem)";
                max-width: 80%;
            }
        }
    }
}

@media (max-width: @sm) {
    .group .button{
        font-size: 0.75rem;
    }
}